

<!-- Footer -->
<footer class="py-5 bgcolor">
    <div class="container">


        <div class="row">

            <div class="col-4 text-center">
                <h4 class="text-white">Site</h4>
            </div>

            <div class="col-4  text-center">

            </div>

            <div class="col-4 ">
                <h4 class="text-white">E-Bülten Üyeliği</h4>
            </div>

        </div>

        <div class="row">

            <div class="col-4  text-center">
                <p class="text-white">My Evernote - @DateTime.Now.Year</p>

                <ul class="list-group list-unstyled">
                    <li class="list-item">
                        <a href="~/Home/About" class="text-decoration-none text-dark"><img src="~/SVG/repo.svg" /> Hakkımızda</a>
                    </li>
                    <li class="list-item">
                        <a href="~/Home/MostLiked" class="text-decoration-none text-dark"><img src="~/SVG/heart.svg" />  En Beğenilenler</a>
                    </li>
                    <li class="list-item">
                        <a href="~/Home/GetCategorysNote" class="text-decoration-none text-dark"><img src="~/SVG/light-bulb.svg" />Son Yazılanlar</a>
                    </li>
                </ul>

            </div>

            <div class="col-4 ">
                <p class="text-white text-center">Copyright &copy; Tüm Hakları Saklıdır.<br /><br />Mehmed Emre AKDİN</p>
            </div>

            <div class="col-4 ">

                <div class="form-inline">

                    <input type="text" placeholder="E-Posta Adresiniz" class="form-control" />
                    <button type="submit" class="btn btn-primary"><img src="~/SVG/paper-airplane (2).svg"> Gönder</button>

                </div>


            </div>


        </div>

    </div>
    <!-- /.container -->
</footer>
