@using MyEvernote.Entities

@model Note


<div class="row">

    <div class="col-sm-12">

        <h4>@Model.Title</h4>
        <hr />
    </div>

 

    <div class="col-sm-12">

        <p>@Model.Text</p>

    </div>

    

</div>


