

<link href="~/Content/login_register.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@{ 
    Layout = null;
}


@{ 

    Exception ex = null;

    if(TempData["LastError"] != null){

        ex = TempData["LastError"] as Exception;

    }

}

    <style>

        .validation-summary-errors ul li {
            list-style-type: none;
        }


        .jumbotron {
            background-color: rgba(195, 10, 10, 0.60);
            opacity: 0.9;
        }
    </style>

    <div class="sidenav">
        <div class="login-main-text">
            <h2>Birşeyler Ters Gidiyor....</h2><br />
            <p>Hızlıca nelerin ters gittiğini öğren ve aramıza yeniden katıl!</p><br />
        </div>
    </div>
    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">

                <div class="jumbotron">
                    <h1 class="display-4">Bir Hata Oluştu</h1>

                    @if (ex != null)
                    {
                        <p class="lead">@ex.Message</p>
                    }
                    else
                    {
                        <p class="lead">Hata Belirtilmedi!</p>
                    }

                </div>


            </div>
        </div>
    </div>



